@media only screen and (max-width: 960px) {
  .csde-menu-btn{
    display: block
   }
  .header-nav{
    display: none;
  }
  .header-nav{
    display: none;
  }
  .csde-menu-btn{
   float: right;
  }
  .wrap-recommend{
    .container-recommend {
      .recomend-article-list{
        display: block;
        a{
          width: auto;
          .csde-img-blog{
            height: auto;
          }
        }
      }
    }
  }

  .warp-article-newlist{
   .container-article-newlist{
     ul{
       display: block;
       li{
         margin: 10px;
         a {
           width: 100%;   
           display: block;
         }
         &:hover{
           h4{
             color: #F20D0D !important;
           }
         }
         .csde-img-blog{
           height: auto;
           img{
             width: 100%;
           }
         }
         span{
         }
         h4 {
           &:hover{
             color: #F20D0D !important;
           }
         }
       }
     }
   }
 }
}
@media only screen and (min-width: 960px) {
  
}